body {
    margin: 0;

    background-color: #fff;

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.no-scroll,
body.show-nav {
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

video {
    position: absolute;
    z-index: -1;

    object-fit: cover;
}

.img {
    display: block;
    max-width: 100%;
}

.logo {    
    height: 80px;
}

.text-center {
    text-align: center;
}

.rel {
    position: relative;
}

/* container */
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.container--contacts {
    padding-bottom: 100px;

}

/* page */

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    overflow: hidden;
}

/* header */

.header {
    width: 100%;
    /* background-color: rgba(32, 104, 247, 0.493); */

    background-color: rgba(255, 255, 255, .18);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.308);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    transition: background 0.2s linear;
}





.header--dark,
body.show-nav .header {
    background-color: rgba(0, 0, 0, 0.308);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

.header__logo {
    text-decoration: none;
    color: rgb(255, 196, 0);
}

.header__logo--black {
    color: rgb(255, 196, 0);
}

.header__logo img {
    display: inline-block;
    vertical-align: middle;
}

.header__logo-text {
    font-size: 15px;
    font-weight: 500;

    margin-left: 11px;

    position: relative;
    top: 2px;
}

/* nav */

.nav {
    display: flex;
    height: 100%;
    font-size: 16px;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: 0 15px;

    color: rgb(255, 196, 0);
    text-decoration: none;

    transition: background 0.2s linear;
}

.nav__link:not(.active):hover {
    text-decoration: underline;
}

.nav__link.active {
    background-color: #fdfcfb;
    color: #000;
}

/* burger */

.burger {
    display: none;
    width: 30px;
    height: 23px;
    padding: 0;

    position: relative;

    font-size: 0;
    color: transparent;

    background: none;
    border: 0;
}

.burger:focus {
    outline: none;
}

.burger__line {
    display: block;
    width: 30px;
    height: 2px;
    margin: 3px 0;

    background-color: #fff;

    transition: transform 0.2s ease-out,
        opacity 0.2s ease-out;
}

.burger__line:nth-child(1) {
    width: 20px;
    margin-left: auto;
}

.burger__line:nth-child(1),
.burger__line:nth-child(3) {
    transform-origin: right;
    transition: width 0.2s ease-out;
}

.burger.active .burger__line:nth-child(1),
.burger.active .burger__line:nth-child(3) {
    width: 0;
}

.burger.active .burger__line:nth-child(2),
.burger.active .burger__line:nth-child(4) {
    position: absolute;
    left: 0;
    top: 50%;

    transform-origin: center;
}

.burger.active .burger__line:nth-child(2) {
    transform: rotate(45deg);
}

.burger.active .burger__line:nth-child(4) {
    transform: rotate(-45deg);
}



/* intro */

.intro {
    margin-bottom: 30px;
    position: relative;
}

/* into--blog */

.intro--blog {
    height: 350px;
    background: #000 url('../images/blog-bg.jpg') no-repeat center;
    background-size: cover;
}

.intro--text {
    height: 450px;
    background: #000 url('../images/text-bg.jpg') no-repeat center;
    background-size: cover;
}

/* slider */

.intro__slider {
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: #04222a url('../images/slider/slide-1.jpg') no-repeat center;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.intro__slider .slider-item {
    display: none;
}

.intro__slider.slick-initialized {
    background: #04222a;
}

.intro__slider.slick-initialized .slider-item {
    display: block;
}

.intro__slider .slick-list,
.intro__slider .slick-track {
    height: 100%;
}

.intro__slider-item {
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro__slider-photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.intro__slider-arrows {
    position: absolute;
    bottom: 30px;
    left: 430px;
}

.intro__slider-btn {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0 3px;

    font-size: 0;
    color: transparent;
    cursor: pointer;

    background: none;
}

.intro__slider-btn:focus {
    outline: none;
}

.intro__slider-btn--prev {
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
}

.intro__slider-btn--next {
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
}

.into__inner {
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    position: relative;
    z-index: 2;
}

.intro__text {
    margin-bottom: 55px;
    text-align: right;
}

.intro__countries {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke: 1px rgba(0, 74, 242, 1);
}

.intro__title {
    position: relative;

    font-family: 'Lato', sans-serif;
    font-size: 60px;
    line-height: 75px;
    color: #fff;
    -webkit-text-stroke: 2px rgba(0, 74, 242, 1);
    font-weight: 700;
}

.intro__title-amp {
    font-size: 170px;
    line-height: 1;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.2);

    position: absolute;
    right: 0;
    top: 50%;

    transform: translateY(-50%);
}

/* title change*/

.text-area {
    display: block;
    min-height: 100px;
    position: relative;
}

.box {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 35px;
    font-weight: bold;

    text-align: right;
    color: #fff;
    -webkit-text-stroke: 2px rgba(0, 74, 242, 1);

    opacity: 0;
}

.b1 {
    animation: ani1 15s infinite;
}

.b2 {
    animation: ani2 15s infinite;
}

.b3 {
    animation: ani3 15s infinite;
}

.b4 {
    animation: ani4 15s infinite;
}

.b5 {
    animation: ani5 15s infinite;
}

@keyframes ani1 {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }
}

@keyframes ani2 {
    20% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

@keyframes ani3 {
    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }
}

@keyframes ani4 {
    60% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    800% {
        opacity: 0;
    }
}

@keyframes ani5 {
    80% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



/* request-form */
.request-form {
    width: 100%;
    max-width: 400px;
    overflow: hidden;

    background-color: #004af2;
    border-radius: 5px;
}

.request-form--intro {
    position: relative;
    bottom: -30px;
}

.request-form--right {
    margin-left: auto;
}

.request-form__header {
    padding: 20px 30px;

    background-color: #033fc9;
}

.request-form__title {
    margin-bottom: 5px;

    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}

.request-form__text {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.4;
}

.request-form__content {
    padding: 30px;
}

/* form */

.form__group {
    margin-bottom: 25px;
}

.input {
    display: block;
    width: 100%;
    padding-bottom: 12px;
    padding-left: 50px;

    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0;
    appearance: none;
    box-shadow: none;

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #fff;

    transition: border-color 0.1s linear;
}

.input::placeholder {
    color: #fff;
}

.input:focus {
    outline: none;
    border-bottom-color: #fff;
}

.input--user {
    background: url('../images/user-icon.svg') left 15px top 5px no-repeat;
}

.input--phone {
    background: url('../images/phone-icon.svg') left 15px top 5px no-repeat;
}

.input--email {
    background: url('../images/mail-icon.svg') left 15px top 6px no-repeat;
}

.input--dark {
    color: #2c2c2c;
    border-bottom-color: #e8e8e8;
}

.input--dark::placeholder {
    color: #2c2c2c;
}

.input--dark:focus {
    border-bottom-color: #000;
}

.input--dark.input--user {
    background-image: url('../images/user-black-icon.svg');
}

.input--dark.input--phone {
    background-image: url('../images/phone-black-icon.svg');
}

.input--dark.input--email {
    background-image: url('../images/mail-black-icon.svg');
}

/* btn */

.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 45px;
    position: relative;
    overflow: hidden;

    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    background: #333;
    border: none;
    border-radius: 5px;

    transition: background-size 0.2s linear;
}

.btn::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: #fff;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: opacity 0.1 linear;
}

.btn span {
    position: relative;
    z-index: 2;
}

.btn:hover::before {
    opacity: 0.1;
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--orange {
    background-image: linear-gradient(to right, #ff903e, #ff2c2c);
}

.btn--orange:hover {
    background-size: 150%;
}

.btn--shadow {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.20);
}

/* section */
.section {
    padding: 60px 0;
}



.section--benefits,
.section--mission,
.footer {
    background-image: url("../images/bg/1587480625_16-p-golubie-foni-s-uzorami-44.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;

    position: relative;
    /* z-index: -1; */
}


.section--gray {
    background-color: #f9f9f9;
}

.section--contacts {
    background: url('../../assets/images/map.jpg') 65% 85px #000 no-repeat;
    background-size: cover;
    background-position: center top;

}

/* .section--contacts::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 48.62%, rgba(0, 0, 0, 0.5) 100%), rgba(24, 24, 24, 0.7);
} */

.section--last {
    margin-bottom: 60px;
}

.section__title {
    margin-bottom: 40px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 1.2;
    color: #2c2c2c;
}

.section__title span {
    color: #004AF2;
}

/* services */

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 50px;

    position: relative;

    background-color: #fff;
    /* border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px; */
    border-radius: 0 0 85% 85% / 70%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.services__main-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    line-height: 1;
    color: rgb(255, 196, 0);
    -webkit-text-stroke: 1px rgba(0, 74, 242, 1);
    pointer-events: none;

    position: absolute;
    right: 50%;
    bottom: 12px;
    z-index: 1;

    transform: translateX(50%);
}

.services__item {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0 25px;
    margin-bottom: 30px;
}

.services__title {
    margin-bottom: 20px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: rgb(255, 196, 0);
}

.services__text {
    margin-bottom: 20px;

    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #585858;
}

.services__footer {
    margin-top: auto;
}

.services__link {
    display: inline-block;

    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #004AF2;
    text-decoration: none;

    transition: color 0.1s linear;
}

.services__link::after {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    margin-top: 5px;

    background-color: #004af2;
    pointer-events: none;

    transition: width 0.1s linear;
}

.services__link:hover {
    color: #FF3E2F;
}

.services__link:hover::after {
    width: 100%;
    background-color: #FF3E2F;
}

/* clients */

.clients {
    display: flex;
    margin-bottom: 60px;
}

.clients__logos {
    width: 60%;
}

.clients__reviews {
    width: 100%;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.clients__list li {
    margin-right: 40px;
    margin-bottom: 40px;
}

.clients-love {
    display: inline-block;
    margin-left: 40px;
    min-height: 47px;
    padding-top: 5px;

    background: url('../images/heart.svg') no-repeat left 19px top;

    font-size: 18px;
    color: #464646;
}

/* reviews */

.reviews {
    position: relative;
    height: 200px;

    background: url('../images/ajax-loader.gif') no-repeat center;
}

.reviews.slick-initialized {
    height: auto;
    background: none;
}

.reviews::before,
.reviews::after {
    content: "";
    display: block;
    width: 10px;
    height: 100%;

    position: absolute;
    top: 0;
    z-index: 1;
}

.reviews::after {
    right: 0;

    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.reviews::before {
    left: 0;

    background-image: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}

.reviews .slick-list {
    padding-top: 20px;
    z-index: 3;
}

.reviews .slick-dots {
    display: flex;
    justify-content: center;
    width: 100%;

    position: absolute;
    left: 0;
    bottom: -20px;
    z-index: 3;
}

.reviews .slick-dots li {
    margin: 0 8px;
}

.reviews .slick-dots li.slick-active button {
    background: #004af2;
    box-shadow: 0 0 0 5px rgba(0, 74, 242, 0.11);
}

.reviews .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;

    background: #d8d8d8;
    border: 0;
    border-radius: 50%;
    cursor: pointer;

    color: transparent;
    font-size: 0;

    transition: background 0.2s linear;
}

.reviews .slick-dots button:focus {
    outline: none;
}

.reviews__item {
    display: none;
    padding: 0 10px;
}

.reviews__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    position: relative;
    z-index: 2;
}

.reviews__header::before {
    content: "";
    display: block;
    width: 92px;
    height: 126px;

    background: url('../images/lines.svg')no-repeat;

    position: absolute;
    top: -13px;
    left: 2px;
    z-index: 1;
}

.reviews__header-content {
    flex-grow: 1;
    padding-left: 20px;
}

.reviews__photo {
    width: 100px;
    height: 100px;

    position: relative;
    z-index: 2;

    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.reviews__name {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #2C2C2C;
}

.reviews__company {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #2C2C2C;
}

.reviews__content {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #585858;
}

.reviews__content p {
    margin-bottom: 20px;
}

.reviews__content p::first-line {
    text-indent: 20px;
}

/* benefits */

.benefits {
    display: flex;
}

.benefits__col {
    width: 50%;
}

.benefits-list {
    width: 100%;
    max-width: 370px;

    position: relative;

    /* background-image: linear-gradient(to bottom, #fff 40%, #a5a5a5 40%);
    background-size: 2px 35px;
    background-repeat: repeat-y;
    background-position: left 12px top -4px; */
}

/* .benefits-list::before,
.benefits-list::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;

    background-color: #fff;
    background-repeat: no-repeat;

    position: absolute;
    left: 0;
    z-index: 1;
}

.benefits-list::before {
    background-image: url("../images/bg/gzhel106.png");

    top: 1px;
}

.benefits-list::after {
    background-image: url("../images/pin-end.svg");

    bottom: -4px;
} */

.benefits-list__item:not(:last-child) {
    margin-bottom: 35px;
}

.benefits-list__title {
    margin-bottom: 12px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 25px;
    color: rgb(255, 196, 0);
}

.benefits-list__text {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #585858;
}

/* team */

.team {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__col {
    width: 33.33333%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__photo {
    margin-bottom: 13px;

    box-shadow: 10px 5px 13px rgba(0, 0, 0, 0.16);
}

.team__name {
    margin-bottom: 5px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #2C2C2C;
}

.team__prof {
    margin-bottom: 11px;

    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #585858;
}

.team__contacts {
    font-size: 14px;
    line-height: 1.2;
    color: #585858;
}

.team__contacts li {
    margin-bottom: 9px;
}

.team__contacts a {
    color: inherit;
    text-decoration: none;
}

.team__contacts:hover {
    text-decoration: underline;
}

.team__contacts-icon {
    width: 16px;
    height: auto;
    margin-right: 7px;
}

/* mission */



.mission-title,
.benefits-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    line-height: 108px;
    text-transform: uppercase;
    color: rgb(255, 196, 0);
    -webkit-text-stroke: 1px rgba(0, 74, 242, 1);
    text-align: center;
}

.mission,
.benefits {
    padding: 60px 30px;
    margin-bottom: 30px;

    position: relative;
    top: -23px;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.16);

    text-align: center;
}

.mission::before,
.mission::after {
    content: "";
    display: block;
    width: 41.66666%;
    height: 2px;

    position: absolute;
    bottom: 0;
    z-index: 1;
}

.mission::before {
    background-color: #004AF2;
    right: 50%;
}

.mission::after {
    background-color: #fcdd2b;
    left: 50%;
}

.mission__title {
    margin-bottom: 5px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    color: #004AF2;
}

.mission__subtitle {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    text-align: center;

    color: #585858;
}



/* articles */

.articles {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px 30px;
}

.articles--column {
    flex-direction: column;
    margin-bottom: 75px;
}

.articles--column .articles__item {
    max-width: none;
    margin-bottom: 45px;
}

.articles--column .articles__item:last-child {
    margin-bottom: 0;
}

.articles__item {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    padding: 0 15px;
}

.articles__title {
    margin-bottom: 15px;

    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    color: #2C2C2C;
}

.articles__title a {
    color: inherit;
    text-decoration: none;
}

.articles__title a:hover {
    text-decoration: underline;
}

.articles__text {
    margin-bottom: 15px;

    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #585858;
}

.articles__date {
    display: block;

    font-size: 12px;
    color: #6e6e6e;
}

/* contacts */

.contacts__title {
    font-size: 32px;
    line-height: 37px;
    font-weight: 700;
    color: #fff;

    max-width: 455px;
    text-align: left;

    margin: 20px 0;
}

.contacts__info {
    background: #004af2;

    border-radius: 5px;

    box-sizing: border-box;

    padding: 24px;
    max-width: 358px;

    margin-top: 30px;
}

.contacts__phone,
.contacts__mail,
.contacts__address {
    margin: 0 0 20px 0;
}


.contacts__phone span,
.contacts__mail span,
.contacts__address span {
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;

    padding-left: 30px;

    background: url('../../assets/images/tel.svg') left center no-repeat;
}


.contacts__guest,
.contacts__phone a,
.contacts__mail a,
.contacts__address a {
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: #fff;

    display: inline-block;
    margin-top: 0;
    margin-left: 30px;

    transition-duration: 500ms;
    transition-property: color;
}

.contacts__phone a:hover,
.contacts__mail a:hover,
.contacts__address a:hover {
    color: rgb(255, 196, 0);
}

.contacts__mail span {
    background-image: url('../../assets/images/mail.svg');
}

.contacts__address span {
    background-image: url('../../assets/images/map.svg');

    line-height: 24px;
}

.contacts__address span:last-child {
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;

    margin-top: 10px;

    background: none;
}

.contacts__shema {
    font-size: 17px;
    line-height: 24px;

    margin-bottom: 0;
    margin-left: 30px;
}

.contacts__shema span {
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
}

.contacts__shema a {
    text-decoration: none;
    color: rgb(255, 196, 0);
    cursor: pointer;
}

/* footer */

.footer {
    padding-top: 40px;
    margin-top: auto;

    background-color: #004af2;


    text-align: center;
}

.footer__contacts {
    margin: 25px 0;

    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #004af2;
    font-style: normal;
}

.footer__contacts p {
    margin: 0 0 5px;
}

.footer__contacts a {
    color: inherit;
    text-decoration: none;
}

.footer__contacts a:hover {
    text-decoration: underline;
}

.footer__nav {
    font-size: 12px;
}

.footer__nav a {
    margin: 0 5px;

    color: #004af2;
    text-decoration: none;
}

.footer__nav a:hover {
    text-decoration: underline;
}

/* modal */

.modal {
    display: none;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    overflow-y: auto;

    background-color: rgba(0, 0, 0, 0.9);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

.modal.show {
    display: block;
}

.modal__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.modal__content {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    position: relative;

    background-color: #fff;
    opacity: 0;

    transform: scale(0.5);

    transition: transform 0.2s ease-out,
        opacity 0.2s ease-out;
}

.modal__header {
    margin-bottom: 25px;

    text-align: center;
}

.modal__icon {
    margin-bottom: 10px;
}

.modal__title {
    margin-bottom: 10px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #004AF2;
}

.modal__text {
    font-size: 16px;
    color: #2c2c2c;
}

.modal__footer {
    margin-top: 25px;
    padding-top: 25px;

    border-top: 1px solid #e8e8e8;

    text-align: center;
}

.modal__footer-title {
    margin-bottom: 10px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #2C2C2C;
}

.modal__contacts {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #2C2C2C;
}

.modal__contacts p {
    margin-bottom: 3px;
}

.modal__contacts a {
    color: inherit;
    text-decoration: none;
}

.modal__contacts a:hover {
    text-decoration: underline;
}

.modal__close {
    width: 20px;
    height: 20px;
    padding: 0;

    background: none;
    border: none;
    cursor: pointer;

    position: absolute;
    top: -20px;
    right: -30px;
    z-index: 1;

    transition: transform 0.2s linear;
}

.modal__close:focus {
    outline: none;
}

.modal__close img {
    display: block;
}

.modal__close:hover {
    transform: rotate(90deg);
}

/* main */

.main {
    display: flex;
    margin: 0 -15px;
}

.main__col {
    width: 50%;
    padding: 0 15px;
}

/* text */

.text {
    max-width: 890px;
    margin-bottom: 50px;

    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #585858;
}

.text p {
    margin-bottom: 20px;
}

.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
    margin-bottom: 20px;

    font-weight: 700;
    color: #2c2c2c;
}

.text h2 {
    font-size: 28px;
}

.text h3 {
    font-size: 24px;
}

.text h4 {
    font-size: 22px;
}

.text h5 {
    font-size: 18px;
}

.text h6 {
    font-size: 16px;
}

.text ul,
.text ol {
    margin-bottom: 20px;
}

.text ol {
    list-style: decimal;
    list-style-position: inside;
}

.text hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background: #d1d1d1;
}

.text img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text a {
    text-decoration: none;
    color: #0d53f2;
}

.text a:hover {
    text-decoration: underline;
}

/* bubbles */

.bubbles img {
    width: 50px;

    animation: bubble 7s linear infinite;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    bottom: -70px;
    z-index: 1;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {

        opacity: 1;
    }

    70% {

        opacity: 1;
    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}

.bubbles img:nth-child(2) {
    animation-delay: 1s;
}

.bubbles img:nth-child(3) {
    animation-delay: 3s;
    width: 25px;
}

.bubbles img:nth-child(4) {
    animation-delay: 4.5s;
}

.bubbles img:nth-child(5) {
    animation-delay: 3s;
}

.bubbles img:nth-child(6) {
    animation-delay: 6s;
    width: 20px;
}

.bubbles img:nth-child(7) {
    animation-delay: 7s;
    width: 35px;
}

/*-----wave------------------*/
.wave {
    width: 100%;
    height: 218px;
    overflow: hidden;
    position: relative;
}

.wave__one {
    background-image: url('../../assets/images/wave/wave_top.png');
    background-repeat: repeat-x;
    width: 7000px;
    height: 218px;
    animation: waves 15s infinite linear;
    position: absolute;
    top: 0%;
}

.wave__two {
    background-image: url('../../assets/images/wave/wave_top_opacity.png');
    background-repeat: repeat-x;
    width: 7000px;
    height: 218px;
    animation: waves 10s infinite linear;
    position: relative;
    top: 0%;
}

@keyframes waves {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1938px;
    }
}

/* *************************************************** */
/* media queries */
/* *************************************************** */

@media (max-width: 991px) {
    /* nav */

    .nav {
        width: 100%;
        height: calc(100vh - 50px);
        overflow: auto;
        flex-direction: column;
        padding-top: 5px;

        background-color: rgba(0, 0, 0, 0.85);

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;

        transform: translateX(100%);
        transition: transform 0.2s ease-out;

    }

    .nav.show {
        transform: translateX(0);
        transition: transform 0.2s ease-out;
    }

    .nav__link {
        display: block;
        padding: 10px 15px;
        text-align: right;
    }

    .burger {
        display: block;
    }

    /* intro */

    .intro__title {
        font-size: 60px;
    }

    .intro__title-amp {
        font-size: 120px;

        right: auto;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    /* intro */

    .intro--blog,
    .intro--text {
        height: 250px;
    }

    .intro__slider-arrows {
        display: none;
    }

    /* section */

    .services__main-title {
        font-size: 70px;
    }

    .services__title {
        text-align: center;
    }

    .services__text {
        text-align: center;
    }

    .section--map {
        background-position: center top 130px;
    }

    /* services */

    .services__item {
        width: 50%;
    }

    /* clients */

    .clients {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .clients__logos,
    .clients__reviews {
        width: 100%;
    }

    .clients__logos {
        margin-bottom: 50px;
    }

    .clients__list {
        justify-content: center;
    }

    .clients__list li {
        max-width: 130px;
    }

    /* benefits */

    .benefits-title {
        font-size: 70px;
    }

    /* mission */

    .mission-title {
        font-size: 70px;
    }

    /* contacts */
    .section--contacts {
        background-position: 41% top;
    }

    /* footer */



    /* main */

    .main__col--left {
        width: 55%;
    }

    .main__col--right {
        width: 45%;
    }


}


@media (max-width: 767px) {

    /* header */

    /* .header__inner {
        height: 50px;
    } */



    /* intro */

    .intro {
        margin-bottom: 0;
    }

    .into__inner {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-top: 75px;
        padding-bottom: 25px;
    }

    .intro__text {
        order: 1;

        width: 100%;
        margin-bottom: 25px;

        text-align: center;
    }

    .intro__countries {
        margin-top: 20px;
    }

    .intro__title {
        font-size: 60px;
    }

    .intro__title-amp {
        font-size: 100px;
    }

    .text-area {
        text-align: center;
    }

    .box {
        right: 50%;
        transform: translateX(50%);
        text-align: center;
        line-height: 30px;
    }

    /* services */
    .services__title {
        font-size: 20px;
    }

    .services__text {
        margin-bottom: 0;
        font-size: 14px;
    }

    /* request-form */

    .request-form--intro {
        order: 2;
        position: static;
    }

    /* benefits */

    .benefits {
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;
    }

    .benefits__col {
        width: 100%;
    }

    .benefits-list {
        margin-bottom: 30px;
        max-width: none;
    }

    .benefits-title {
        font-size: 50px;
    }

    /* team */

    .team {
        flex-direction: column;
    }

    .team__col {
        width: 100%;
    }

    .team__col:last-child {
        margin-bottom: 0;
    }

    .team__item {
        max-width: 370px;
        margin: 0 auto;
    }

    /* mission */

    .mission-title {
        font-size: 50px;
        line-height: 45px;
    }

    .mission {
        padding: 40px 20px;
        margin-top: -16px;
    }

    .mission__title {
        font-size: 24px;
    }

    .mission__subtitle {
        font-size: 18px;
    }

    /* articles */

    .articles {
        flex-wrap: wrap;
    }

    .articles__item {
        max-width: none;
    }



    /* footer */



    /* main */

    .main {
        flex-direction: column;
    }

    .main__col {
        width: 100%;
    }

    /* request-form */

    .request-form--right {
        margin: 30px auto 0;
    }

    /* article */

    .articles--column {
        margin-bottom: 30px;
    }

}

@media (max-width: 575px) {

    /* intro */

    .intro__title {
        font-size: 50px;
        line-height: 55px;
    }

    .intro__title-amp {
        font-size: 90px;
    }

    .box {
        font-size: 20px;
    }

    /* services */

    .services {
        padding-top: 55px;
        padding-bottom: 10px;
        border-radius: 0;
    }

    .services__main-title {
        /* width: 100%; */

        font-size: 50px;
        text-align: center;

        /* bottom: auto;
        right: auto; */
        top: 0px;
    }

    .services__item {
        width: 100%;
        max-width: 320px;
        text-align: center;
        margin: 0 auto;
    }

    /* section */

    .section {
        padding: 30px 0;
    }

    .section--last {
        margin-bottom: 30px;
    }

    .section__title {
        font-size: 36px;
    }

    /* request form */

    .request-form__header,
    .request-form__content {
        padding: 20px;
    }

    .request-form__title {
        font-size: 26px;
    }

    /* clients */

    .clients__list {
        margin: 0 -15px;
    }

    .clients__list li {
        max-width: none;
        width: 33.33333%;
        margin-right: 0;
        padding: 0 15px;
    }

    .clients__list-logo {
        margin: 0 auto;
    }

    .clients-love {
        display: block;
        margin-left: 0;
        margin-top: 20px;
    }

    /* benefits */

    .benefits-title {
        font-size: 30px;
    }

    /* mission */

    .mission-title {
        font-size: 40px;
    }

    .mission {
        padding: 30px 20px;
        margin-top: 15px;
    }

    .mission__title {
        font-size: 20px;
    }

    .mission__subtitle {
        font-size: 16px;
    }

    /* contacts */
    

    /* footer */



    /* modal */

    .modal__close {
        right: 0;
        top: -30px;
    }

}

@media (max-width: 320px) {

    .intro__title {
        font-size: 40px;
    }

    .intro__title-amp {
        font-size: 50px;
    }

    /* benefits */

    .benefits-title {
        font-size: 25px;
    }
}